{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>responsive profile page</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class='banner'>
  <img class='image-banner' src='https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F6%2F6b%2FTaka_Shiba.jpg%2F1200px-Taka_Shiba.jpg&f=1'></img>
</div>

<div class='header'>
  <div id='sidebar'>
    <div class='toggle-btn' onclick='toggleSidebar()'>
      <span ></span>
      <span ></span>
      <span ></span>
    </div>
    <a title='close' href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class='profile-info'>
      <img class='image' src='https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.akc.org%2Fakcdoglovers%2FShibaInu_hero.jpg&f=1&nofb=1'></img>
      <p>FLUFFERS</p>
    </div>

    <hr>
    <ul>
      <h2>
        <li>POST</li>
        <li>MEMBERS</li>
        <li>UPDATES</li>
        <li>EDIT INFO</li>
        <li>CONTACT</li>
        <hr>
        <!-- Logout form -->
        <li>
          <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
          </form>
        </li>
      </h2>
    </ul>
  </div>

  <div class="dropdown">
    <button class="dropbtn">
      <img src="https://assets.codepen.io/3000883/internal/avatars/users/default.png?format=auto&height=80&version=1590703361&width=80" alt="User image" width="50" height="50"> FLUFFERS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Profile</a>
      <a href="#">Create post</a>
      <a href="#">Members</a>
      <a href="#">Updates</a>
      <a href="#">Edit Account</a>
      <a href="#">Contact</a>
      <hr>
      <!-- Logout form in dropdown -->
      <form method="POST" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
      </form>
    </div>
  </div>
</div>

<!-- Main content section -->
<div class='image-holder'>
  <ul class="ipsList_inline ipsPos_left">
    <li>
      <h4 class="ipsType_minorHeading">Posts</h4>
      <span>4,179</span>
    </li>
    <li>
      <h4 class="ipsType_minorHeading">Joined</h4>
      <time datetime="2009-11-25T22:48:11Z" title="11/25/2009 02:48  PM" data-short="9 yr">November 25, 2009</time>
    </li>
    <li>
      <h4 class="ipsType_minorHeading">Followers</h4>
      <span>4 Billion</span>
    </li>
    <li>
      <h4 class="ipsType_minorHeading">REP</h4>
      <span>2</span>
    </li>
    <li>
      <a class='flw-btn' href='#'>Follow <i class='fas'>&#xf067;</i></a>
    </li>
  </ul>
</div>

<div class='user-lvl-and-name'>
  <div class="bottom-left">FLUFFERS</div>
  <div class='user-level'>Owner</div>
</div>

<div class='profile-images'>
  <div class='user-stuff'>
    <div class="bottom-right">
      <img class='image-2' src='https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F6%2F6b%2FTaka_Shiba.jpg%2F1200px-Taka_Shiba.jpg&f=1'></img>
    </div>
    <div class="bottom-right">
      <img class='image-3' src='https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.emojidex.com%2Femoji%2Fseal%2Fgreen_circle.png%3F1524351848&f=1'></img>
    </div>
  </div>
</div>

<div class='container'>
  <div class='left'>
    <a href='#'><h2>FOLLOWERS</h2></a>
    <div class='view-followers aligncenter'>
      <a href='#'>View Followers</a>
    </div>
  </div>

  <div class='about'>
    <h2 class='pro-info'>PROFILE INFO</h2>
    <hr>
    <ul>
      <li><h4 class='user-heading-for-profile-info'>AGE</h4></li>
      <span class='user-span-info'>16</span>
      <li><h4 class='user-heading-for-profile-info'>FAVORITE MUSIC</h4></li>
      <span class='user-span-info'>BEATDOWN</span>
      <li><h4 class='user-heading-for-profile-info'>LIVES IN</h4></li>
      <span class='user-span-info'>My House</span>
      <li><h4 class='user-heading-for-profile-info'>HOBBIES</h4></li>
      <span class='user-span-info'>This Shit</span>
    </ul>
  </div>

  <div class='user-posts'>
    <a href='#'><h2>POSTS</h2></a>
    <div class='user-image-post'>
      <img class='user-post' src='https://www.w3schools.com/howto/img_avatar.png'></img>
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class='view-followers aligncenter'>
      <a href='#'>View Posts</a>
    </div>
  </div>
</div>

<script  src="{% static 'js/profile.js' %}"></script>
</body>
</html>
