{% extends 'allauth/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/servicos.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/servicos.js' %}"></script>
{% endblock %}

{% block content %}
<main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title" data-translate="home-service">Se estilize em casa</h2>
        <p class="copy" data-translate="home-service-desc">Oferecemos serviço em casa, com o barbeiro indo até você para um corte, no conforto do seu lar.</p>
        <button class="btn" data-translate="schedule-now">Agende já!</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title" data-translate="store-service">Atendimento no Estabelecimento</h2>
        <p class="copy" data-translate="store-service-desc">Visite um dos nossos estabelecimentos e tenha uma experiência com cortes, num ambiente criado para o seu e bem-estar.</p>
        <button class="btn" data-translate="schedule-now">Agende já!</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title" data-translate="partnership">Parcerias</h2>
        <p class="copy" data-translate="partnership-desc">Permita-nos aumentar seu lucro, fortalecendo seu público, e dando um gás no seu negócio!</p>
        <button class="btn" data-translate="register">Cadastre-se</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title" data-translate="become-one">Se torne um</h2>
        <p class="copy" data-translate="become-one-desc">Empresas parceiras podem estar procurando por novos talentos, veja se você se encaixa!</p>
        <button class="btn" data-translate="register">Cadastre-se</button>
      </div>
    </div>
</main>
{% endblock %}
