{% load static %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Don Juan - Barbearia e Cabelereiro</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <video autoplay loop muted class="background-video" disablePictureInPicture aria-hidden="true">
      <source src="{% static 'images/videobg.mp4' %}" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>

    <header class="header" role="banner">
      <div class="logo-container">
        <a href="{% url 'home' %}" class="logo-container" aria-label="Homepage">
          <img src="{% static 'images/donjuan.png' %}" alt="Logo da Don Juan Barbearia e Cabelereiro" class="logo-img">
        </a>
      </div>
      <nav class="navigation fade-in" role="navigation" aria-label="Main navigation">
        <a href="{% url 'home' %}" title="Home" aria-label="Ir para a página inicial"><span>Home</span></a>
        <a href="{% url 'servicos' %}" title="Serviços" aria-label="Ir para a página de serviços"><span>Serviços</span></a>
        <a href="{% url 'contato' %}" title="Contato" aria-label="Ir para a página de contato"><span>Contato</span></a>
        <a href="{% url 'sobre' %}" title="Sobre" aria-label="Ir para a página sobre"><span>Sobre</span></a>

        {% if user.is_authenticated %}
          <a href="{% url 'perfil' %}" title="Perfil" aria-label="Ir para o perfil do usuário"><span>{{ user.username }}</span></a>
        {% else %}
          <a href="{% url 'account_login' %}" title="Login" aria-label="Entrar na conta"><span>Login</span></a>
        {% endif %}
      </nav>
    </header>

    <main class="main-content" role="main">
      <section class="hero">
        <h1>Bem-vindos ao <span class="great-vibes-regular">Don Juan</span></h1>
        <p class="typing-demo">Cuidamos do seu estilo com o máximo profissionalismo e dedicação.</p>
        <a href="{% url 'servicos' %}" id="conheca" role="button" aria-label="Conheça nossos serviços">Conheça nossos serviços</a>
      </section>
    </main>

  </div>

  <script src="{% static 'css/script.js' %}" defer></script>
</body>
</html>
