{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/sobre.css'%}">
    <link rel="shortcut icon" href="/test X/images/donjuan.png" type="image/x-icon">
    <title>Don Juan - Sobre</title>
</head>
<body>
  
  <div class="wrapper">
    <video></video>

    <header class="header" role="banner">
      <div class="logo-container">
        <a href="{% url 'home' %}" class="logo-container" aria-label="Homepage">
          <img src="{% static 'images/donjuan.png' %}" alt="Don Juan Barbearia e Cabelereiro Logo" class="logo-img">
        </a>
      </div>
      <nav class="navigation fade-in" role="navigation">
        <a href="{% url 'home' %}" title="Home"><span class="nav-label">Home</span></a>
        <a href="{% url 'servicos' %}" title="Serviços"><span class="nav-label">Serviços</span></a>
        <a href="{% url 'contato' %}" title="Contato"><span class="nav-label">Contato</span></a>
        <a href="{% url 'sobre' %}" title="Sobre"><span class="nav-label">Sobre</span></a>

        {% if user.is_authenticated %}
          <a href="{% url 'perfil' %}" title="Profile"><span class="nav-label">{{ user.username }}</span></a>
        {% else %}
          <a href="{% url 'account_login' %}" title="Login"><span class="nav-label">Login</span></a>
        {% endif %}
      </nav>
    </header>

    <section class="about-section">
      <div class="container">
          <div class="row clearfix">
              
              <!-- Coluna de Conteúdo -->
              <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="title">Sobre Nós</div>
                        <h2>Somos pioneiros <br> no Mercado de Autocuidado Masculino</h2>
                    </div>
                    <div class="text">A Don Juan é um projeto que se destaca pela ideia de inovação em serviços de procedimentos estéticos, cosméticos e barbearias masculinos. Com 1 ano desde sua criação, oferecemos um ambiente acolhedor e profissionais qualificados para atender suas necessidades.</div>
                    <a href="about.html" class="theme-btn btn-style-three">Leia Mais</a>
                </div>
              </div>
              
              <!-- Coluna de Imagem -->
              <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="https://i.pinimg.com/564x/0b/f8/8b/0bf88b81ed1608f90a4f5410ab14b185.jpg" alt="Barbearia">
                        <div class="overlay-box">
                            <div class="year-box"><span class="number">1</span> Ano <br> de Experiência <br> no Setor</div>
                        </div>
                    </div>
                </div>
              </div>
              
          </div>
      </div>
    </section>

    <script src="{% static 'js/sobre'%}"></script>
</body>
</html>
